<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head('MyPetstore Main')">

</head>
<body>
<header th:replace="common/template_menu::header"></header>

</header>

<div id="BackLink">
    <!--/*@thymesVar id="product" type="com.software.jpetstore.domain.Product"*/-->
    <a th:href="@{/catalog/category(categoryId=${product.categoryId},productId=${product.productId})}" th:text="'Return to '+ ${product.categoryId}"></a>
</div>

<div id="Catalog">

    <h2 th:text="${product.name}"></h2>

    <table>
        <tr>
            <th>Item ID</th>
            <th>Product ID</th>
            <th>Description</th>
            <th>List Price</th>
        </tr>
            <!--/*@thymesVar id="itemList" type="com.software.jpetstore.domain.Item"*/-->
            <tr th:each="item : ${itemList}">
                <td>
                    <a th:href="@{/catalog/item(itemId=${item.itemId},productId=${item.product.productId})}" th:text="${item.itemId}"></a>
                </td>
                <!--/*@thymesVar id="product" type="com.software.jpetstore.domain.Product"*/-->
                <td th:text="${item.product.productId}">

                </td>
                <td th:text="${item.attribute1}+${item.attribute2}+${item.attribute3}+${item.attribute4}+${item.attribute5}+${product.name}">
                </td>
                <td th:text="${#numbers.formatCurrency(item.listPrice)}"></td>
                <td>
                    <!--/*@thymesVar id="product" type="com.software.jpetstore.domain.Product"*/-->
                    <a th:href="@{/cart/addItemToCart(workingItemId=${item.itemId},productId=${item.product.productId})}">Add to Cart</a>
                </td>
            </tr>
    </table>

</div>


<footer th:replace="common/template_menu::footer"></footer>

</body>
</html>