<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template_head::head('MyPetstore Main')">
</head>

<body>

<header th:replace="common/template_menu::header"></header>

<div id="BackLink"><a href="/catalog/main">Return to Main Menu</a></div>

<div id="Catalog">

    <div id="Cart">

        <h2>Shopping Cart</h2>
        <table>
            <form th:method="get" th:action="@{/cart/updateCartQuantities}" th:object="${user}">
                <tr>
                    <th><b>Item ID</b></th>
                    <th><b>Product ID</b></th>
                    <th><b>Description</b></th>
                    <th><b>In Stock?</b></th>
                    <th><b>Quantity</b></th>
                    <th><b>List Price</b></th>
                    <th><b>Total Cost</b></th>
                    <th>&nbsp;</th>
                </tr>

                <tr th:if="${session.cart.numberOfItems} eq 0">
                    <td colspan="8"><b>Your cart is empty.</b></td>
                </tr>

                <tr th:each="cartItem: ${session.cart.cartItems}">
                    <td>
                        <a th:href="'/catalog/item?itemId=' + ${cartItem.item.itemId}"
                           th:text="${cartItem.item.itemId}"></a>
                    </td>
                    <td th:text="${cartItem.item.product.productId}"></td>
                    <td th:text="${cartItem.item.attribute1}+${cartItem.item.attribute2}+${cartItem.item.attribute3}+${cartItem.item.attribute4}+${cartItem.item.attribute5}+${cartItem.item.product.name}">

                    </td>
                    <td th:text="${cartItem.inStock}"></td>
                    <td><input type="text" size="3" th:name="${cartItem.item.itemId}" th:value="${cartItem.quantity}"/>
                    </td>
                    <td th:text="${#numbers.formatCurrency(cartItem.item.listPrice)}"></td>
                    <td th:text="${#numbers.formatCurrency(cartItem.total)}"></td>
                    <td>
                        <a th:href="@{/cart/removeItemFromCart(cartItem=${cartItem.item.itemId})}">Remove</a>
                    </td>
                </tr>

                <tr>
                    <td colspan="7" th:text="'Sub Total:' + ${#numbers.formatCurrency(session.cart.subTotal)}">Sub
                        Total:
                    </td>
                    <button type="submit">Update Cart</button>
                    <td>&nbsp;</td>
                </tr>
            </form>
        </table>


        <a th:if="${session.cart.numberOfItems} gt 0" href="/order/newOrderForm">Proceed to Checkout</a>
    </div>

    <div id="MyList">

        <p th:if="${session.myList} ne null">Pet Favorites <br /> Shop for more of your favorite pets here.</p>
        <ul>
            <li th:each="product : ${session.myList}">
                <a th:href="@{/catalog/product(productId=${product.productId})}" th:text="${product.name}">

                </a>
                <p th:text="${product.productId}"></p>
            </li>
        </ul>


    </div>

    <div id="Separator">&nbsp;</div>
</div>


<footer th:replace="common/template_menu::footer"></footer>
</body>

</html>