<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template_head::head('MyPetstore Catagory')">

</head>
<body>
<header th:replace="common/template_menu::header"></header>




<div id="Catalog">
    <form th:action="@{/account/login}" th:object="${user}" th:method="post">

    <p>Please enter your username and password.</p>
    <p>Username:
        <input name="username" value="j2ee" /> <br />
        Password:
        <input type="password" name="password" value="j2ee" /></p>

    <button type="submit" name="signon" value="Login">Login!</button>

</form>

    Need a user name and password? <a th:href="@{#}">Register Now!</a>

</div>



<footer th:replace="common/template_menu::footer"></footer>
</body>
</html>