<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template_head::head('MyPetstore Catagory')">

</head>
<body>
<header th:replace="common/template_menu::header"></header>




<div id="Catalog">
    <form th:action="@{/account/login}" th:object="${user}" th:method="post">

    <p>Please enter your username and password.</p>
        <p ><p th:text="#{edit.userid}">Username:</p>
        <input name="username" value="j2ee" /> <br />


       <!-- <input name="userId" type="text" class="text1" id="userId"
               size="10" maxlength="10" onkeypress="userIdOnKeyPress()" value="<%=userId %>" onblur="validate(this)">
        <span id="spanUserId"></span>-->



        <p th:text="#{edit.password}">Password:</p>
        <input type="password" name="password" value="j2ee" /></p>

    <button type="submit" name="signon" value="Login">Login!</button>

</form>

    Need a user name and password? <a th:href="@{/account/newAccountForm}">Register Now!</a>

</div>



<footer th:replace="common/template_menu::footer"></footer>
</body>
</html>