<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template_head::head('MyPetstore Catagory')">

</head>
<body>

<header th:replace="common/template_menu::header"></header>


<div id="Catalog"><form th:action="@{/order/ShippingForm}" th:object="${order}"  th:method="post">
    <table>
        <tr>
            <th colspan=2>Shipping Address</th>
        </tr>

        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{shipToFirstName}" name="order.shipToFirstName" /></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{shipToLastName}" name="order.shipToLastName" /></td>
        </tr>
        <tr>
            <td>Address 1:</td>
            <td><input type="text" th:field="*{shipAddress1}" size="40" name="order.shipAddress1" /></td>
        </tr>
        <tr>
            <td>Address 2:</td>
            <td><input type="text" size="40" th:field="*{shipAddress2}" name="order.shipAddress2" /></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" th:field="*{shipCity}" name="order.shipCity" /></td>
        </tr>
        <tr>
            <td>State:</td>
            <td><input type="text" size="4" th:field="*{shipState}" name="order.shipState" /></td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td><input type="text" size="10" th:field="*{shipZip}" name="order.shipZip" /></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" size="15" th:field="*{shipCountry}" name="order.shipCountry" /></td>
        </tr>


    </table>

    <button type="submit" name="newOrder" value="Continue" />

</form></div>


<footer th:replace="common/template_menu::footer"></footer>

</body>
</html>