<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div id="Logo">
        <div id="LogoContent">
            <a href="/catalog/main"><img src="/images/logo-topbar.gif" /></a>
        </div>
    </div>
<a th:href="@{/changeLanguage(lang='zh')}">chinese</a>
    <a th:href="@{/changeLanguage(lang='en')}">english</a>
    <div id="Menu">
        <div id="MenuContent">
            <a href="/cart/viewCart"><img align="middle" name="img_cart"
                                          src="/images/cart.gif" /></a> <img align="middle"
                                                                             src="/images/separator.gif" />
            <a th:if="${session.authenticated}==false" href="/account/SignonForm">Sign In</a>
            <a th:if="${session.authenticated}==true" href="/account/signoff">Sign Out</a>
            <span th:if="${session.authenticated}==true">
                <img align="middle" src="/images/separator.gif"/> <a href="/account/EditAccountForm">My Account</a>
            </span>
            <img align="middle" src="/images/separator.gif" /> <a href="/help.html">?</a>
        </div>
    </div>

    <div id="Search">
        <div id="SearchContent">
            <form th:action="@{/catalog/SearchProducts}" th:object="${user}" th:method="post">
                <input type="text" name="keyword" size="14" /> <input type="submit"
                                                                      name="searchProducts" value="Search" />
            </form>
        </div>
    </div>

    <div id="QuickLinks">
        <a href="/catalog/category?categoryId=FISH"><img
                src="/images/sm_fish.gif" /></a> <img src="/images/separator.gif" />
        <a href="/catalog/category?categoryId=DOGS"><img
                src="/images/sm_dogs.gif" /></a> <img src="/images/separator.gif" />
        <a href="/catalog/category?categoryId=REPTILES"><img
                src="/images/sm_reptiles.gif" /></a> <img
            src="/images/separator.gif" /> <a href="/category?categoryId=CATS"><img
            src="/images/sm_cats.gif" /></a> <img src="/images/separator.gif" />
        <a href="/catalog/category?categoryId=BIRDS"><img
                src="/images/sm_birds.gif" /></a>
    </div>

</header>

<footer th:fragment="footer">

    <div id="Footer">

        <div id="PoweredBy">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a>
        </div>

        <div id="Banner">

        </div>

    </div>
</footer>

</html>